{# templates/food/_foods.html.twig #}
{#<h3>Pantry</h3>#}
<h5 class="text-center">{{ headText }}</h5>
<div class="overflow-auto" style="height: 500px;">
    <table class="table" id="{{ tableName }}">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for food in allFoods %}
                <tr>
                    <td data-foodid={{ food.id }}>{{ food.foodName }}</td>
                    {% if 'food_pantry' ==  tableName %}
                        <td><button type="button" class="btn p-0" onclick='window.location.replace("../food/edit/{{ food.id }}")'>Edit</button></td>
                        <td><button id='btn_delete' type="button" class="btn p-0" data-bs-toggle="modal" data-bs-target="#modal-delete" data-bs-foodid='{{ food.id }}' data-bs-foodname='{{ food.foodName }}'>Delete</button></td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
