{% extends 'base.html.twig' %}

{% block title %}Gut index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Gut index</h1>
        <div class="row mt-5">
            <div class="col-2"><a href="{{ path('app_gut_new') }}">Create new</a>
            </div>
            <div class="col-6">
                {#                In addition to the data gathering options above, it is possible to
                                identify possible foods that may be responsible for certain reactions. Select
                                a reaction below then click on the Check food button,
                                <form action="{{ path('app_gut_food_vector') }}" method="POST">
                                    <select name="reaction">
                                        <option value=""  disabled selected>Choose one</option>
                                        {% for reaction in reactions %}
                                            <option value="{{ reaction }}">{{ reaction }}</option>
                                        {% endfor %}
                                    </select>
                                    <button type="submit">Check food</button>
                                </form>
                            </div>
                #}        

                <table class="table ml-5 mr-5">
                    <thead>
                        <tr>
                            <th>Reaction</th>
                            <th>Date & time</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for gut in guts %}
                            <tr>
                                <td>{{ gut.reaction }}</td>
                                <td>{{ gut.datetime ? gut.datetime|date('l, F j, Y') }} {{ gut.datetime ? gut.datetime|date('g:i A') }}</td>
                                <td>
                                    <a href="{{ path('app_gut_show', {'id': gut.id}) }}">show</a>
                                    <a href="{{ path('app_gut_edit', {'id': gut.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endblock %}
