{% extends 'base.html.twig' %}

{% block title %}Gut index{% endblock %}

{% block body %}
    <h1>Gut index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Date & time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gut in guts %}
            <tr>
                <td>{{ gut.description }}</td>
                <td>{{ gut.datetime ? gut.datetime|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_gut_show', {'id': gut.id}) }}">show</a>
                    <a href="{{ path('app_gut_edit', {'id': gut.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_gut_new') }}">Create new</a>
{% endblock %}
