{% extends 'base.html.twig' %}

{% block title %}Gut{% endblock %}

{% block body %}
    <h1>Gut</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Reaction</th>
                <td>{{ gut.reaction }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ gut.description }}</td>
            </tr>
            <tr>
                <th>When</th>
                <td>{{ gut.happened ? gut.happened|date('l, F j, Y g:i a') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_gut_index') }}">back to list</a>

    <a href="{{ path('app_gut_edit', {'id': gut.id}) }}">edit</a>

    {{ include('gut/_delete_form.html.twig') }}
{% endblock %}
