{% extends 'base.html.twig' %}

{% block title %}Edit Meal{% endblock %}

{% block body %}
    <h3 class="text-center">Edit Meal</h3>
    <div id="rte" style="display:none;">{{ rte }}</div>
    <div id="mealid" data-mealid="{{meal.id}}" ></div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
            {{ include('meal/_form.html.twig') }}
            <table class="table" id="ready_foods" style="visibility: hidden;">
                <thead>
                    <tr>
                        <th>Ready to eat (click to return to pantry)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for food in activeFoods %}
                        <tr data-foodid={{ food.id }}>
                            <td>{{ food.foodName }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>            
        </div>
        <div class="col-4">
            {{ include('food/_foods.html.twig') }}
        </div>
    </div>
    <a class="btn btn-info"  href="{{ path('app_meal_index') }}">Back to list</a>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('add-food') }}
{% endblock %}
