<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container p-12">
            {% if app.request.get('_route') == 'home' %}
                {{ include('default/_home_menu.html.twig') }}
            {% else %}
                {{ include('default/_controllers_menu.html.twig') }}
            {% endif %}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{label}}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
